/* hacked from CWS button styles */
.webstore-button.webstore-button-blue {
border-color: #2D53AF;
background: #4D7BD6;
background: -moz-linear-gradient(top,#5689DB 0%,#4D7BD6 100%);
background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#5689DB),color-stop(100%,#4D7BD6));
background: -webkit-linear-gradient(top,#5689DB 0%,#4D7BD6 100%);
background: -o-linear-gradient(top,#5689DB 0%,#4D7BD6 100%);
background: -ms-linear-gradient(top,#5689DB 0%,#4D7BD6 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#5689db,endColorstr=#4d7bd6,GradientType=0);
background: linear-gradient(top,#5689DB 0%,#4D7BD6 100%);
}

.webstore-button.webstore-button-red{
border-color:#b0281a;
background:#c53727;
background:-moz-linear-gradient(top,#dd4b39 0%,#c53727 100%);
background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#dd4b39),color-stop(100%,#c53727));
background:-webkit-linear-gradient(top,#dd4b39 0%,#c53727 100%);
background:-o-linear-gradient(top,#dd4b39 0%,#c53727 100%);
background:-ms-linear-gradient(top,#dd4b39 0%,#c53727 100%);
/*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='WEBSTORE_RED_BUTTON_TOP_GRADIENT_COLOR',endColorstr='WEBSTORE_RED_BUTTON_BOTTOM_GRADIENT_COLOR',GradientType=0); */
background:linear-gradient(top,#dd4b39 0%,#c53727 100%)}

.webstore-button-hover.webstore-button-red,.webstore-button-focused.webstore-button-red,a.webstore-button.webstore-button-red:hover,a.webstore-button.webstore-button-red:focus,input.webstore-button.webstore-button-red:hover:enabled,input.webstore-button.webstore-button-red:focus:enabled{
border-color:#d14836;
background:#d14836;
background:-moz-linear-gradient(top,#f04b49 0%,#d14836 100%);
background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#f04b49),color-stop(100%,#d14836));
background:-webkit-linear-gradient(top,#f04b49 0%,#d14836 100%);
background:-o-linear-gradient(top,#f04b49 0%,#d14836 100%);
background:-ms-linear-gradient(top,#f04b49 0%,#d14836 100%);
/* filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='WEBSTORE_RED_BUTTON_HOVER_TOP_GRADIENT_COLOR',endColorstr='WEBSTORE_RED_BUTTON_HOVER_BOTTOM_GRADIENT_COLOR',GradientType=0); */
background:linear-gradient(top,#f04b49 0%,#d14836 100%)
}

.webstore-button-active.webstore-button-red,a.webstore-button.webstore-button-red:active,input.webstore-button.webstore-button-red:active:enabled{
border-color:#992a1b;
background:#b0281a;
background:-moz-linear-gradient(top,#dd4b39 0%,#b0281a 100%);
background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#dd4b39),color-stop(100%,#b0281a));
background:-webkit-linear-gradient(top,#dd4b39 0%,#b0281a 100%);
background:-o-linear-gradient(top,#dd4b39 0%,#b0281a 100%);
background:-ms-linear-gradient(top,#dd4b39 0%,#b0281a 100%);
/* filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='WEBSTORE_RED_BUTTON_ACTIVE_TOP_GRADIENT_COLOR',endColorstr='WEBSTORE_RED_BUTTON_ACTIVE_BOTTOM_GRADIENT_COLOR',GradientType=0); */
background:linear-gradient(top,#dd4b39 0%,#b0281a 100%)
}


.webstore-button.webstore-button-180-by-30 {
height: 16px;
min-width: 125px;
padding: 6px;
}

.goog-inline-block {
position: relative;
display: inline-block;
}

.webstore-button {
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
border: 1px solid;
cursor: pointer;
color: white;
font-size: 13px;
font-weight: bold;
text-align: center;
text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
text-transform: uppercase;
-webkit-box-shadow: 0 2px 0 0 rgba(255,255,255,.06) inset,0 2px 3px 0 rgba(0,0,0,.2);
-moz-box-shadow: 0 2px 0 0 rgba(255,255,255,.06) inset,0 2px 3px 0 rgba(0,0,0,.2);
box-shadow: 0 2px 0 0 rgba(255,255,255,.06) inset,0 2px 3px 0 rgba(0,0,0,.2);
outline: 0px;
border-image: initial;
}

.webstore-button.webstore-button-blue:hover {
border-color:#4076ff;
background:#5c92ff;
background:-moz-linear-gradient(top,#669eff 0%,#5286ff 100%);
background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#669eff),color-stop(100%,#5286ff));
background:-webkit-linear-gradient(top,#669eff 0%,#5286ff 100%);
background:-o-linear-gradient(top,#669eff 0%,#5286ff 100%);
background:-ms-linear-gradient(top,#669eff 0%,#5286ff 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#669eff,endColorstr=#5286ff,GradientType=0);
background:linear-gradient(top,#669eff 0%,#5286ff 100%)
}

.webstore-button.webstore-button-red:hover {
border-color:#d14836;
background:#d14836;
background:-moz-linear-gradient(top,#f04b49 0%,#d14836 100%);
background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#f04b49),color-stop(100%,#d14836));
background:-webkit-linear-gradient(top,#f04b49 0%,#d14836 100%);
background:-o-linear-gradient(top,#f04b49 0%,#5286ff 100%);
background:-ms-linear-gradient(top,#f04b49 0%,#5286ff 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#f04b49,endColorstr=#5286ff,GradientType=0);
background:linear-gradient(top,#669eff 0%,#5286ff 100%)
}

.webstore-button.webstore-button-red:hover {
border-color:#d14836;
background:#d14836;
background:-moz-linear-gradient(top,#f04b49 0%,#d14836 100%);
background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#f04b49),color-stop(100%,#d14836));
background:-webkit-linear-gradient(top,#f04b49 0%,#d14836 100%);
background:-o-linear-gradient(top,#f04b49 0%,#d14836 100%);
background:-ms-linear-gradient(top,#f04b49 0%,#d14836 100%);
background:linear-gradient(top,#f04b49 0%,#d14836 100%)
}


.webstore-button-label {
display: inline-block;
vertical-align: top;
line-height: 16px;
}
/* end CWS button styles */